<h3>Lista de Cantantes</h3>
<br>
<div class="container">
    <table *ngIf="cantantes.length > 0" class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Genero</th>
                <th scope="col">Canciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of cantantes">
                <th>{{item.Name}}</th>
                <td>{{item.KindOfMusic}}</td>
                <td>
                    <ul>
                        <li *ngFor="let song of item.Songs">
                            {{song}}
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>